# Node
node_modules/
npm-debug.log*

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
.firebaserc.local
*.local

# Environment
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Build artifacts
dist/
build/
